<a href="https://colab.research.google.com/github/Ecamara888/cybersecurity-agentic/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python /content/lab02.py

=== PART 1: Hello World ===
Hello world

=== PART 2: All Times Tables ===
This is the 1 times table:
1 times 1 is 1
1 times 2 is 2
1 times 3 is 3
1 times 4 is 4
1 times 5 is 5
1 times 6 is 6
1 times 7 is 7
1 times 8 is 8
1 times 9 is 9
1 times 10 is 10
1 times 11 is 11
1 times 12 is 12
This is the 2 times table:
2 times 1 is 2
2 times 2 is 4
2 times 3 is 6
2 times 4 is 8
2 times 5 is 10
2 times 6 is 12
2 times 7 is 14
2 times 8 is 16
2 times 9 is 18
2 times 10 is 20
2 times 11 is 22
2 times 12 is 24
This is the 3 times table:
3 times 1 is 3
3 times 2 is 6
3 times 3 is 9
3 times 4 is 12
3 times 5 is 15
3 times 6 is 18
3 times 7 is 21
3 times 8 is 24
3 times 9 is 27
3 times 10 is 30
3 times 11 is 33
3 times 12 is 36
This is the 4 times table:
4 times 1 is 4
4 times 2 is 8
4 times 3 is 12
4 times 4 is 16
4 times 5 is 20
4 times 6 is 24
4 times 7 is 28
4 times 8 is 32
4 times 9 is 36
4 times 10 is 40
4 times 11 is 44
4 times 12 is 48
This is the 5 times table:
5 times 1 is 5
5 times 2 is 10
5 times 3 is 15
5 times 4 is 20
5 times 5 is 25
5 times 6 is 30
5 times 7 is 35
5 times 8 is 40
5 times 9 is 45
5 times 10 is 50
5 times 11 is 55
5 times 12 is 60
This is the 6 times table:
6 times 1 is 6
6 times 2 is 12
6 times 3 is 18
6 times 4 is 24
6 times 5 is 30
6 times 6 is 36
6 times 7 is 42
6 times 8 is 48
6 times 9 is 54
6 times 10 is 60
6 times 11 is 66
6 times 12 is 72
This is the 7 times table:
7 times 1 is 7
7 times 2 is 14
7 times 3 is 21
7 times 4 is 28
7 times 5 is 35
7 times 6 is 42
7 times 7 is 49
7 times 8 is 56
7 times 9 is 63
7 times 10 is 70
7 times 11 is 77
7 times 12 is 84
This is the 8 times table:
8 times 1 is 8
8 times 2 is 16
8 times 3 is 24
8 times 4 is 32
8 times 5 is 40
8 times 6 is 48
8 times 7 is 56
8 times 8 is 64
8 times 9 is 72
8 times 10 is 80
8 times 11 is 88
8 times 12 is 96
This is the 9 times table:
9 times 1 is 9
9 times 2 is 18
9 times 3 is 27
9 times 4 is 36
9 times 5 is 45
9 times 6 is 54
9 times 7 is 63
9 times 8 is 72
9 times 9 is 81
9 times 10 is 90
9 times 11 is 99
9 times 12 is 108
This is the 10 times table:
10 times 1 is 10
10 times 2 is 20
10 times 3 is 30
10 times 4 is 40
10 times 5 is 50
10 times 6 is 60
10 times 7 is 70
10 times 8 is 80
10 times 9 is 90
10 times 10 is 100
10 times 11 is 110
10 times 12 is 120
This is the 11 times table:
11 times 1 is 11
11 times 2 is 22
11 times 3 is 33
11 times 4 is 44
11 times 5 is 55
11 times 6 is 66
11 times 7 is 77
11 times 8 is 88
11 times 9 is 99
11 times 10 is 110
11 times 11 is 121
11 times 12 is 132
This is the 12 times table:
12 times 1 is 12
12 times 2 is 24
12 times 3 is 36
12 times 4 is 48
12 times 5 is 60
12 times 6 is 72
12 times 7 is 84
12 times 8 is 96
12 times 9 is 108
12 times 10 is 120
12 times 11 is 132
12 times 12 is 144

=== PART 3: Working with Strings ===
Mike Child
Child, Mike

=== PART 4: Array Tables ===
5 times table:
5 10 15 20 25 30 35 40 45 50 55 60

5 times table:
5 10 15 20 25 30 35 40 45 50 55 60
6 times table:
6 12 18 24 30 36 42 48 54 60 66 72
7 times table:
7 14 21 28 35 42 49 56 63 70 77 84

Disney characters:
Mickey
Donald
Goofy

Names:
Tom
Dick
Harry

=== PART 5: Student Records ===
25
26 Mickey Mouse
25 Donald Duck
25 Donald Duck

Student List:
25 Donald Duck
26 Mickey Mouse
27 Bugs Bunny
28 Minnie Mouse